{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block main %}
    <div class="container">
        <h1>S'enregistrer</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
